/* src/App.css */
body {
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.logo-container {
  margin-bottom: 10px;
}

.logo {
  width: 650px;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icon {
  width: 40px;
  margin: 0 10px;
}

.social-icon:hover {
  opacity: 0.8;
}